[Unit]
Description=High-performance, schema-free document-oriented database
After=syslog.target network.target

[Service]
LimitFSIZE=infinity
LimitCPU=infinity
LimitAS=infinity
LimitNOFILE=64000
LimitNPROC=64000
Type=forking
User=mongodb
PIDFile={{ mongod_datadir_prefix }}/mongod_{{ mongod_port }}.pid
EnvironmentFile=/etc/sysconfig/mongod
ExecStart=/opt/mongod/bin/mongod $OPTIONS run

[Install]
WantedBy=multi-user.target
